  ------
  Using the Application Assembler Plugin
  ------
  trygvis
  ------
  2009.03.04
  ------

The 'daemon' Mechanism

 The 'daemon' mechanism is a generic way to declare how to start you application. The name 'daemon' might be a bit
 misleading but it can be used to generate scripts for 'normal' applications (like GUI applications).

* Available Platforms

 Each daemon that you declare need a set of <platforms> that it is to support. These are the available platforms:

  * <<unix>> and <<windows>>: generates shell scripts in the same way as the 'program' mechanism but support an
  extended set of properties.

  * <<booter-unix>> and <<booter-windows>>: generates a shell script and an xml file. The XML file contains a list of
  all required dependencies and their paths within the repository. The shell script create a very small class path and
  runs a custom main method that will read the XML file, build a custom class loader and starts the declared
  application. Note that to get this to work your application has to depend on
  <<<org.codehaus.mojo.appassembler:appassembler-booter>>>

  * <<jsw>>: generates a wrapper.conf file.

* Configuration Compatability Matrix

 The available platforms are different and some configuration options does not apply to all of them. For their specific
 usage and possible values see the usage page.

*-------------------------------------+-----+-----+-----+-----+-----+
| Option                              | win |unix | b-w | b-u | jsw |
*-------------------------------------+-----+-----+-----+-----+-----+
| id                                  |  X  |  X  |  X  |  X  |  X  |
| Main class                          |  X  |  X  |  X  |  X  |  X  |
| Command line arguments              |  X  |  X  |  X  |  X  |  X  | 
| Show console window                 |  X  | N/A |  X  | N/A |  ?  |
| Environment setup file name         |  X  |  X  |  X  |  X  |  ?  |
| JVM: Initial memory size            |  X  |  X  |  X  |  X  |  ?  |
| JVM: Max memory size                |  X  |  X  |  X  |  X  |  ?  |
| JVM: Max stack size                 |  X  |  X  |  X  |  X  |  ?  |
| JVM: System properties              |  X  |  X  |  X  |  X  |  ?  |
| JVM: Extra arguments                |  X  |  X  |  X  |  X  |  ?  |
*-------------------------------------+-----+-----+-----+-----+-----+

 * Legend:

   * b-w: booter-windows

   * b-u: booter-unix

   * win: windows

   * unix: unix

   * jsw: java service wrapper

   * N/A: Not applicable

   * N/S: Not supported

   * ?: Unknown

   * X: Supported

   * JVM: These options apply within the <jvmSettings>
