~~
~~
~~ The MIT License
~~
~~ Copyright 2006-2011 The Codehaus.
~~
~~ Permission is hereby granted, free of charge, to any person obtaining a copy of
~~ this software and associated documentation files (the "Software"), to deal in
~~ the Software without restriction, including without limitation the rights to
~~ use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
~~ of the Software, and to permit persons to whom the Software is furnished to do
~~ so, subject to the following conditions:
~~
~~ The above copyright notice and this permission notice shall be included in all
~~ copies or substantial portions of the Software.
~~
~~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
~~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
~~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
~~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
~~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
~~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
~~ SOFTWARE.
~~

  ------
  Example how to use Application Assembler Plugin
  ------
  ------
  ------

License Header

* Default Header

  If you don't define the <<<{{{./assemble-mojo.html#licenseHeaderFile}licenseHeaderFile}}>>> 
  the generated scripts contain a default license header like the following:
 
+--------------------------
#!/bin/sh
# ----------------------------------------------------------------------------
#  Copyright 2001-2006 The Apache Software Foundation.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
# ----------------------------------------------------------------------------
#
#   Copyright (c) 2001-2006 The Apache Software Foundation.  All rights
#   reserved.

BASEDIR=`dirname $0`/..
BASEDIR=`(cd "$BASEDIR"; pwd)`
....
+--------------------------

* Change The License Header Globally

  Sometimes you need to change the license header to fit in your project 
  environment which can be done by using the 
  <<<{{{./assemble-mojo.html#licenseHeaderFile}licenseHeaderFile}}>>>
  definition.

+--------------------------
<project>
  ...
  <build>
    <plugins>
      ...
      <plugin>
        ...
        <configuration>
          <licenseHeaderFile>${basedir}/license-header.txt</licenseHeaderFile>
          <programs>
            <program>
              <mainClass>com.mycompany.app.App1</mainClass>
              <name>app1</name>
            </program>
            <program>
              <mainClass>com.mycompany.app.App2</mainClass>
              <name>app2</name>
            </program>
          </programs>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
</project>
+--------------------------


* License Header for Particular Scripts

  You can also change the license header for every program separately if you need. The
  second app  (<<<app2>>>) will use the default license header whereas the 
  <<<App1>>> will use the given license header <<<license-header-1.txt>>>.
  
+--------------------------
<project>
  ...
  <build>
    <plugins>
      ...
      <plugin>
        ...
        <configuration>
          <programs>
           <programs>
             <program>
               <licenseHeaderFile>${basedir}/license-header-1.txt</licenseHeaderFile>
               <mainClass>com.mycompany.app.App1</mainClass>
               <name>app1</name>
             </program>
             <program>
               <mainClass>com.mycompany.app.App2</mainClass>
               <name>app2</name>
             </program>
           </programs>
          </programs>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
</project>
+--------------------------

  []
